
.slider{
	padding: 80px 0px;
}
.about{
	padding: 80px 0px;
	background-color: #0066ff;
}
h1{
	color: #ffffff;

}
.a_img{
	margin-top: 50px;
}
.a_text{
	margin-top: 50px;
	color: #ffffff;
}